/data/
notebooks/
.vscode
code/__pycache__/flatfield_correction.cpython-310.pyc
code/__pycache__/utils.cpython-310.pyc
code/__pycache__/zarr_io.cpython-310.pyc
code/__pycache__/utils.cpython-310.pyc
code/__pycache__/utils.cpython-310.pyc